@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  

  --color-grey: #D8D8D8;
  --color-grey-100: #C3CBCD;
  --color-grey-200: #E0E0E0;
  --color-grey-300: #F3F3F9;
  --color-grey-400: #FCFCFC;
  --color-grey-500: #B7B7B7;
  --color-grey-600: #C4C4C4;
  --color-grey-800: #484848;
  --color-grey-900: #74788D;

  --color-blue: #308EE1;
  --color-blue-100: #E2F5FF;
  --color-blue-300: #43A5D8;
  --color-blue-500: #3BA8F6;
  --color-blue-600: #0095FF;

  --color-orange: #EA9F0D;

  --color-turquois: #4AB58E;
  --color-turquios-100: #E2FFFD;
  --color-turquios-300: #5CD3CC;
  --color-turquios-500: #05C283;

  --color-pink: #DD53A4;
  --color-pink-100: #FFE2F3;

  --color-purple: #CD7FE9;

  --color-green: #8CCE39;
  --color-green-100: #F0FBE2;
  --color-green-500: #05C283;

  --color-red: #F46A6A;

  --color-white-300: #F8F8FB;
  --color-white-500: #FBFBFB;
  --color-black: #0F0F0F;
  --color-black-300: #303133;
  --color-black-500: #373F41;
  --color-black-600: #2A3042;
  --color-black-800: #222;
}

@utility bg-primary-gradient {
  background-image: linear-gradient(90deg, #009DF5, #3CC4FF);
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
